/* navbar */
.navbar-default {
    background-color: #5F9EA0;
    border-color: #E7E7E7;
}
#contact {
	padding-top:75px;
	font-family:sans-serif;
}
ul.social-list {
    text-align: center;
    margin: 0px auto;
}
li, ol, ul {
    list-style: outside none none;
}
.img-responsive {
	margin: auto;
}
.btn {
	margin: auto;
}
.container a{
	text-decoration: none;
}
#team{
	position: fixed;
}
.team{
  position: absolute ;
  top:100px;
  right:0px;
  background: #006699;
  transform:rotate(-90deg);
}
.team > a{
	background-color: #000000;
}
.team > a:hover{
	background-color: #FFFF00;
    color: #FFC0CB;
}